
name: CI pipeline
#event on which you want this pipeline to be triggered
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
# jobs are a collection of steps that will be executed as part of the workflow
jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18.x, 20.x, 22.x]
    steps:
    #switch branch
    - uses: actions/checkout@v4
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
        #actual commands
    - name: Build Command
      run: echo "Building app"

    - name: Test Command
      run: echo "Testing app"